<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="__SKIN__/css/main.css?v={$version}" rel="stylesheet" type="text/css">
<link href="__SKIN__/font/css/font-awesome.min.css" rel="stylesheet" />
<link href="__SKIN__/css/index.css?v={$version}" rel="stylesheet" type="text/css">
<!--[if IE 7]>
  <link rel="stylesheet" href="__SKIN__/font/css/font-awesome-ie7.min.css">
<![endif]-->
<script type="text/javascript">
    var eyou_basefile = "{$Request.baseFile}";
    var module_name = "{$Think.const.MODULE_NAME}";
    var __root_dir__ = "__ROOT_DIR__";
    var __lang__ = "{$admin_lang}";
    var __main_lang__ = "{$main_lang}";
</script>  
<script type="text/javascript" src="__SKIN__/js/jquery.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugins/layer-v3.1.0/layer.js"></script>
<script src="__SKIN__/js/upgrade.js?v={$version}"></script>
<script src="__SKIN__/js/global.js?v={$version}"></script>

</head>
<body style="background-color:#F4F4F4;padding:6px; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<style type="text/css">
 
        table
 
        {
 
            border-collapse: collapse;
 
            margin: 0 auto;
 
            text-align: center;

            width: 100%
 
        }
 
        table td, table th
 
        {
 
            border: 1px solid #cad9ea;
 
            color: #666;
 
            height: 30px;
 
        }
 
        table thead th
 
        {
 
            background-color: #CCE8EB;
 
            width: 100px;
 
        }
 
        table tr:nth-child(odd)
 
        {
 
            background: #fff;
 
        }
 
        table tr:nth-child(even)
 
        {
 
            background: #F5FAFA;
 
        }
 
    </style>

<div class="warpper">
    <div class="content start_content">
        <div class="contentWarp">
           
            <div class="index_box" >
                <div class="info_count">
                     <h3><i class="fa fa-bar-chart"></i>营业额</h3>
                     <div class="container-fluid" id="main" style="width:100%;height:400px">
                        


                     </div>
                </div>
            </div>
            <div class="section system_section" style="float: none;width: inherit;">
             
                <div class="system_section_con">
                    <div class="sc_title" style="padding: 26px 0 14px;border-bottom: 1px solid #e4eaec;">
                        
                        <h3><i class="fa fa-tasks"></i>最新订单</h3>
                    </div>
                    <div class="sc_warp" id="system_warp" style="display: block;padding-bottom: 20px;">
                        <table  class="order_list" >
                            <tbody>
                                <tr>
                                    <td>订单号</td>
                                    <td>桌号</td>
                                    <td>订单金额</td>
                                    <td>订单状态</td>
                                    <td>订单时间</td>
                                    <td>支付时间</td>
                                    <td>操作</td>
                                </tr>
                                {volist name="$new_order" id="v"}
                                <tr>
                                    <td>{$v.order_code}</td>
                                    <td>{$v.name}</td>
                                    <td>{$v.order_amount}</td>
                                    <td>{switch name="$v['order_status']"}
                                        {case value="0"}未付款{/case}
                                        {case value="-1"}订单取消{/case}
                                        {case value="4"}订单过期{/case}
                                        {default /}<span style="color: red">已付款</span>
                                        {/switch}
                                    </td>
                                    <td>{:date('Y-m-d H:i:s',$v.add_time)}</td>
                                    <td>{if condition="$v.pay_time>0"}{:date('Y-m-d H:i:s',$v.pay_time)}{else}未支付{/if}</td>
                                    <td><a href="{:url('Shops/order_details',array('order_id'=>$v['order_id']))}">详情</a></td>

                                </tr>
                                {/volist}


                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="footer" style="position: static; bottom: 0px; font-size:14px;">
    <p>
        <b>{$global.web_copyright|htmlspecialchars_decode}</b>
    </p>
</div>
<script type="text/javascript" src="__PUBLIC__/plugins/echarts/echarts.min.js"></script>
<script type="text/javascript">
  var myChart = echarts.init(document.getElementById('main'));        
        option = {
        xAxis: {
                type: 'category',
                data: [
                {volist name="$weeks_order.day" id="v"}
                '{$v.time}',
                {/volist}
                ]
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: [
                 {volist name="$weeks_order.day" id="v"}
                    {$v.sum},
                {/volist}

                ],
                type: 'line'
            },
            {   
                name:'总量',
                type:'line',
                stack: '总量',
                label: {
                    normal: {
                        show: true,
                        position: 'top'
                    }
                },
                areaStyle: {normal: {}},
                data:[
                    {volist name="$weeks_order.day" id="v"}
                        {$v.sum},
                    {/volist}
                ]
            }


            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
</script>
{include file="public/footer" /}